/* General Styling */
/* Title */
h1 {
    color: #333;
}

/* Form Styling */
form {
    background: #fa0202;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 1000px auto;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

/* Table Styling */
table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #28dd37;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

p {
    font-size: 18px;
    color: #333;
}
.deletebtn{
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 10px;
}
.delete-btn {
   
        background-color: transparent;
        border: none;
        color: rgb(248, 6, 6);
        cursor: pointer;
        font-size: 18px;
        padding: 0; /* Remove padding */
    
           
}

.delete-btn:hover {
    color: darkred;
}

.delete{
    background: white;
    color: white;
    
}