
/* Navigation Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header h1 {
    font-size: 42px;
    color: var(--text-color);
}


.header-right {
    background: #83b48a;
    color: white;
    padding: 0.625rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 0.625rem;
    
}


/* Dashboard Styles */
.dashboard-row {
    text-align: left;
    display: flex;
    width: 100%;
    margin-bottom: 12.5rem; /* 200px */
}




.department-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    justify-content: space-around;
    width: 100%;
}

.department-box {
    display: flex;
    align-items: center;
    background-color: #83b48a;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0.9;
    margin-top: 5px;
 
}

.department-logo {
    width: 120px;
    height: 120px;
    margin-right: 50px;
    
}

.user-count {
    font-size: 30px;
    font-weight: bold;
}
.department-label {
    font-size:24px;
    font-weight: normal;
    opacity: 1;
}




.attendance-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 12px;
    gap: 30px; /* Creates spacing between label and chart */
}

.attendance-labels {
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    border-radius: 10px;
    text-align: left;
    min-width: 150px;
}

.attendance-labels div {
    padding: 8px 0;
    border-bottom: 1px;
    color: white;
}

.attendance-chart {
    flex: 2;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    max-width: 100%;
    height: auto;
}

/* Responsive: Stack labels and chart on smaller screens */
@media (max-width: 768px) {
    .attendance-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .attendance-labels {
        min-width: 100%;
    }

    .attendance-chart {
        max-width: 100%;
    }
}


