@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-color: #f5f5f5;
    --sidebar-color: linear-gradient(180deg, #1E5128, #000000);
    --primary-color: #549462;
    --primary-color-light: #f5f5f5;
    --toggle-color: #9cb69b;
    --text-color: #9b9b9b;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* Navigation Styles */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header h1 {
    font-size: 42px;
    color: var(--text-color);
}


.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #83b48a;
    color: white;
    margin: 0.0625rem; /* 1px */
    padding: 0.625rem; /* 10px */
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0rem 0.25rem 0.625rem rgba(26, 24, 24, 0.1); /* 0px 4px 10px */
    width: 30%;
    height: 50px; /* Adjust width for two boxes side by side */
}

/* Dashboard Styles */
.dashboard-row {
    text-align: left;
    display: flex;
    width: 100%;
    margin-bottom: 12.5rem; /* 200px */
}

.dashboard-box {
    color: white;
    opacity: 0.9;
    background: #83b48a;
    margin: 0.0625rem; /* 1px */
    padding: 0.625rem; /* 10px */
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.1); /* 0px 4px 10px */
    width: 50%; /* Adjust width for two boxes side by side */
    height: 20rem; /* Adjust width for two boxes side by side */
}

.dashboard-long-box {
    text-align: left;
    color: white;
    opacity: 0.9;
    margin-top:5rem;
    margin-bottom: 1.25rem;
    background: #83b48a;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width for the long box */
    height: 20rem;
}


.department-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    justify-content: space-around;
    width: 100%;
}

.department-box {
    display: flex;
    align-items: center;
    background-color: #83b48a;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0.9;
    margin-top: 5px;
}

.department-logo {
    width: 90px;
    height: 90px;
    margin-right: 50px;
    
}

.user-count {
    font-size: 30px;
    font-weight: bold;
}
.department-label {
    font-size:24px;
    font-weight: normal;
    opacity: 1;
}
