* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-color: #f0f2f5;
    --primary-color: #007bff;
    --primary-color-dark: #0056b3;
    --text-color: #333;
    --input-bg-color: #fff;
    --input-border-color: #ccc;
    --input-focus-border-color: #007bff;
    --btn-bg-color: #007bff;
    --btn-hover-bg-color: #0056b3;
    --error-color: #ff0000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-color);
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--input-bg-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    background: url('logo_lib.png') no-repeat center center;
    background-size: contain;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
    color: var(--primary-color);
    font-size: 24px;
    text-align: center;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
   border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--input-bg-color);
    transition: border-color 0.3s;
}

input:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

.btn {
    background-color: var(--btn-bg-color);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
}

.error {
    color: var(--error-color);
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .login-wrapper {
        padding: 20px;
    }

    h3 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }
}
